@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

* {
  margin: 0; padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Be Vietnam Pro', sans-serif;
}

:root {
  
  /* Primary */

  --bright-red: hsl(12, 88%, 59%);
  --dark-blue: hsl(228, 39%, 23%);

  /* Neutral */

  --dark-grayish-blue: hsl(227, 12%, 61%);
  --very-dark-blue: hsl(233, 12%, 13%);
  --very-pale-red: hsl(13, 100%, 96%);
  --vary-light-gray: hsl(0, 0%, 98%);
}

body {
  background: var(--vary-light-gray);
}