header {
  padding: 3.2rem 6.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
  
  ul {
    display: flex;
    align-items: center;
  }

    li.item {
      list-style: none;
      font-size: 1.2rem;
      font-weight: 500;
      color: var(--dark-blue);
      margin-left: 2.4rem;
    }

  button.iniciar {
    background: var(--bright-red);
    padding: 1rem 2.2rem;
    border-radius: 1.8rem;
    border: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    box-shadow: 0 .5rem .3rem hsl(12deg 88% 59% / 26%);
  }

main {
  /* background-image: url('../images/bg-tablet-pattern.svg');
  background-repeat: no-repeat;
  background-color: var(--very-pale-red); */
}

  section.introducao {
    padding: 6.4rem 6.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

    div.text-container {
      width: 42rem;
    }

      h1.titulo-introducao {
        color: var(--dark-blue);
        font-weight: 700;
        font-size: 4.6rem;
      }

      p.resumo-introducao {
        color: var(--dark-grayish-blue);
        font-size: 1.4rem;
        font-weight: 400;
        margin: 3.6rem 0;
        line-height: 2.2rem;
        max-width: 30rem;
      }

    img.ilustracao {
      width: 48rem;
    }

footer {
  align-items: center;
  background: var(--dark-blue);
  display: flex;
  justify-content: space-between;
  padding: 6.4rem 6.4rem;
}

  div.container-esquerdo ul.redes-sociais {
    align-items: center;
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  ul.links, ul.contados {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
  }

    li.link a, li.contado a {
      color: var(--vary-light-gray);
      font-weight: 400;
      font-size: 1rem;
      text-decoration: none;
    }