header.cabecalho {
  padding: 6.4rem 6.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
  
  ul.nav-bar {
    display: flex;
    align-items: center;
  }

    li.item {
      list-style: none;
      font-size: 1.4rem;
      font-weight: 500;
      color: var(--dark-blue);
      margin-left: 2.4rem;
    }

    li.item:first-child {
      margin-left: 0;
    }

  button.iniciar {
    background: var(--bright-red);
    padding: 1rem 2.2rem;
    border-radius: 1.8rem;
    border: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    box-shadow: 0 .5rem .3rem hsl(12deg 88% 59% / 26%);
  }

  button.menu-hamburger {
    display: none;
    border: none;
    background: transparent;
  }

main {
  /* background-image: url('../images/bg-tablet-pattern.svg');
  background-repeat: no-repeat;
  background-color: var(--very-pale-red); */
}

  section.introducao {
    padding: 6.4rem 6.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

    div.text-container {
      width: 42rem;
    }

      h1.titulo-introducao {
        color: var(--dark-blue);
        font-weight: 700;
        font-size: 4.6rem;
      }

      p.resumo-introducao {
        color: var(--dark-grayish-blue);
        font-size: 1.4rem;
        font-weight: 400;
        margin: 3.6rem 0;
        line-height: 2.2rem;
        max-width: 30rem;
      }

    img.ilustracao {
      width: 48rem;
    }

  section.diferencial {
    background: var(--vary-light-gray);
    padding: 6.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

    div.container {
      min-width: 55.2rem;
      align-self: flex-start;
    }

      h2.diferencial-titulo {
        color: var(--dark-blue);
        font-weight: 700;
        font-size: 3.4rem;
        width: 80%;
      }

      p.diferencial-paragrafo {
        color: var(--dark-grayish-blue);
        font-size: 1.4rem;
        font-weight: 400;
        margin: 3.6rem 0;
        line-height: 2.2rem;
        max-width: 30rem;
      }

    nav.lista-diferencias {
      align-self: flex-start;
    }

      div.diferencial-item {
        display: flex;
        flex-direction: column;
        margin-bottom: 3.2rem;
      }

      div.diferencial-item:last-child {
        margin-bottom: 0;
      }

        div.cabecalho-item {
          display: flex;
          align-items: center;
          margin-bottom: 1.2rem;
        }

          span.indice {
            color: var(--vary-light-gray);
            background: var(--bright-red);
            font-size: 1.4rem;
            font-weight: 700;
            padding: .6rem 1.6rem;
            border-radius: 1.6rem;
          }

          h3.diferencial-titulo {
            color: var(--dark-blue);
            font-size: 1.6rem;
            font-weight: 700;
            margin-left: 3.5rem;
          }
        
        p.item-paragrafo {
          color: var(--dark-grayish-blue);
          font-size: 1.4rem;
          font-weight: 400;
          width: 72%;
          margin-left: 8.3rem;
        }

  section.depoimentos {
    align-items: center;
    display: flex;
    background: var(--vary-light-gray);
    flex-direction: column;
    padding: 6.4rem 0;
  }

    h2.titulo-depoimentos {
      font-size: 3.2rem;
      font-weight: 700;
      color: var(--dark-blue);
      margin-bottom: 4.6rem;
    }

    div.sliders {
      width: 41rem;
      overflow: hidden;
    }

      div.grade-depoimentos {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 3.6rem 0;
        width: 217rem;
        animation-name: animacao;
        animation-duration: 45s;
        animation-iteration-count: infinite;
      }

      @keyframes animacao {
        0% {margin-left: 0;}
        20% {margin-left: 0;}
        25% {margin-left: -434px;}
        45% {margin-left: -434px;}
        50% {margin-left: -868px;}
        70% {margin-left: -868px;}
        75% {margin-left: -1302px;}
        95% {margin-left: -1302px;}
        100% {margin-left: -1736px;}
      }

        div.depoimento {
          align-items: center;
          background-color: var(--bg-depoimento);
          border-radius: .4rem;
          display: flex;
          flex-direction: column;
          width: 41rem;
          padding: 3rem;
          padding-top: 4rem;
          position: relative;
        }

          div.imagem-perfil {
            position: absolute;
            width: 6.4rem;
            top: -3.5rem;
          }

            img.avatar {
              width: 100%;
            }

          h3.nome {
            font-size: 1.4rem;
            color: var(--dark-blue);
            font-weight: 700;
            margin-bottom: .8rem;
          }

          p.resumo-depoimento {
            text-align: center;
            font-size: 1.2rem;
            color: var(--dark-grayish-blue);
            font-weight: 400;
            line-height: 1.8rem;
          }
  
  section.encerramento {
    background: var(--bright-red);
    padding: 6.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

    h2.convite {
      color: var(--vary-light-gray);
      font-weight: 700;
      font-size: 3.2rem;
      width: 40%;
    }

    button.encerramento {
      background-color: var(--vary-light-gray);
      color: var(--bright-red);
      font-weight: 700;
      box-shadow: 0 0.5rem 0.5rem hsl(12deg 84% 36% / 70%);
    }

footer {
  align-items: center;
  background: var(--very-dark-blue);
  display: flex;
  justify-content: space-between;
  padding: 6.4rem 6.4rem;
  height: 23rem;
}

  div.container-esquerdo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

    ul.redes-sociais {
      align-items: center;
      display: flex;
      justify-content: space-between;
      list-style: none;
    }

      ul.links, ul.contados {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        list-style: none;
        height: 100%;
      }

      ul.contados {
        align-self: flex-start;
        justify-content: flex-start;
      }

        li.link a, li.contado a {
          color: var(--vary-light-gray);
          font-weight: 400;
          font-size: 1.4rem;
          text-decoration: none;
        }

        li.contado {
          margin-bottom: 1.2rem;
        }

        li.contado:last-child {
          margin-bottom: 0;
        }
  
    div.container-direito {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      height: 100%;
    }

      form.formulario input.input-texto {
        background: var(--vary-light-gray);
        border: none;
        outline: 0;
        width: 17rem;
        padding: 1.4rem;
        border-radius: 3.6rem;
        caret-color: var(--dark-grayish-blue);
      }

      form.formulario input.input-texto::placeholder {
        font-family: 'Be Vietnam Pro', sans-serif;
        font-weight: 500;
        font-size: 1rem;
        color: var(--dark-grayish-blue);
      }

      form.formulario button.button-go {
        background: var(--bright-red);
        padding: 1.4rem;
        border-radius: 3.6rem;
        border: none;
        color: var(--vary-light-gray);
        font-family: 'Be Vietnam Pro', sans-serif;
        font-weight: 700;
        font-size: 1.1rem;
        width: 5.5rem;
        margin-left: 1.2rem;
      }

      span.copy-right {
        font-family: 'Be Vietnam Pro', sans-serif;
        font-size: 1rem;
        font-weight: 400;
        color: var(--dark-grayish-blue);
        align-self: flex-end;
      }



@media screen and (max-width: 425px) {
  header button.iniciar {
    display: none;
  }

  ul.nav-bar {
    display: none;
    transition: all .5s;
  }

  ul.active {
    display: flex;
    background: var(--vary-light-gray);
    position: absolute;
    flex-direction: column;
    justify-content: space-around;
    width: 34.6rem;
    height: 22rem;
    top: 11.7rem;
    border-radius: .3rem;
    padding: 1.6rem;
    left: 4.3rem;
    z-index: 1;
  }

    li.item {
      font-weight: 700;
    }

  button.menu-hamburger {
    background-image: url('../images/icon-hamburger.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 2.2rem;
    transition: all .3s;
    width: 2.5rem;
    z-index: 1;
  }

  button.menu-hamburger-close {
    background-image: url('../images/icon-close.svg');
  }

  li.item {
    margin-left: 0;
  }

  div.blur-active {
    position: absolute;
    top: 0;
    background: linear-gradient(1deg, #706c6d91 8.62%, #ada6a42e 93.61%);
    min-height: 100vh;
    min-width: 100vw;
  }
}